<title>My application</title>   
<h1>Hello, World</h1>    
 Result is {{result}}<br>


   <strong>
    In the first form, enter a list of numbers as integers seperated by a new line character.This list will be first integer database to be compared.<br>
    In the second form, enter a list of numbers as integers seperated by a new line character.This list will be second integer database to be compared.<br>
    In the third form,enter a min number(int). If the number of arrays are equal, the number must be bigger than the min number.<br>
    In the third form,enter a max number(int). If the number of arrays are equal, the number must be smaller than the max number<br>
    If both number databases are equal and non-empty result will be true else it will be false.<br>
   </strong> 
 
 
  <form action="compute" method="post">         
	<textarea name="input1" rows="10" cols="30" placeholder="Integer list as database1"></textarea>
	<textarea name="input2" rows="10" cols="30" placeholder="Integer list as database2"></textarea>
	<textarea name="input3" rows="10" cols="30" placeholder="int to be min number"></textarea>
	<textarea name="input4" rows="10" cols="30" placeholder="int to be max number"></textarea>
	         
	<br>         
	<input type="submit">   
</form> 
